<div class="start-view">
  <div class="start-view-content">
    <h1>3D Audio Visualisation</h1>
    <div class="description">
      <app-app-description></app-app-description>
      <br><br>
      <label *ngIf="radio && radio.ready">
        <input [(ngModel)]="radioSearchQuery" (keydown.enter)="searchRadio()" placeholder="Station Name"  />
        <input type="submit" value="Search Radio Station" (click)="searchRadio()"/>
      </label>
      <small style="float: right;"><i>(<a href="http://www.radio-browser.info"
                                          target="_blank">radio-browser.info</a>)</i></small>
      <br>
      <br>
    </div>
    <br>
    <button (click)="clickStart()">
      <span><small>click here</small></span><br>
      <span><small>to</small></span><br>
      Start Animation
    </button>
    <p><small><i>(ca. 100 Mb)</i></small></p>
  </div>
</div>
