.start-view {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #3b005d;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.start-view-content {
  position: relative;
  width: 100%;
  max-width: 600px;
  padding: 1.25rem;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 4rem;
  color: #00eaff;
  font-family: Impact;
  text-shadow: 0 0 5px #000;
}

button {
  display: inline-block;
  font-size: 3rem;
  margin: 0 auto;
  font-family: Impact;
  border-radius: 1rem;
  animation: shakes 0.25s linear infinite;
}

label {
  position: relative;
  display: flex;
  width: 100%;
}

label > * {
  flex: 1;
}

.description {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

ul {
  display: inline-block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  list-style: disc;
}

p {
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  button, h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  ul {
    margin: 0 .5rem;
  }

  label {
    flex-direction: column;
  }

  .start-view-content{
    display: block;
    top:0;
  }

}


@keyframes shakes {
  0% {
    transform: translate(2px, 1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(0deg);
  }
}
