<div class="radio-preview-small">
  <div *ngIf="radio.station">
    <img *ngIf="radio.station.favicon" class="radio-favicon" [src]="radio.station.favicon"/>
    <div class="radio-name">
      <span><b>{{radio.station.name}}</b></span>
      <small *ngIf="radio.station.country || radio.station.language">
        [<span *ngIf="radio.station.country">{{radio.station.country}} </span>
        <span *ngIf="radio.station.language">{{radio.station.language}}</span>]
      </small>
    </div>
  </div>
  <button (click)="play()" *ngIf="radio.audio && radio.audio.paused">play</button>
  <button (click)="pause()" *ngIf="radio.audio && !radio.audio.paused">pause</button>
</div>
