.radio-preview-small {
  display: flex;
  padding: .5rem;

  .radio-favicon {
    height: 2rem;
    width: auto;
    float: left;
    margin-right: .5rem;
  }

  .radio-name {


  }

  div {
    flex: 1;
  }


  button {
    width: 25%;
  }
}
