<p>
  <b>Angular & Three.js</b><br>
  Demo project for <a href="https://github.com/jodermo/angular-animation-framework"
                      target="_blank">github.com/jodermo/angular-animation-framework</a>
</p>
<ul>
  <li>dynamic audio analysis</li>
  <li>visual effects on specific frequency peaks</li>
  <li>camera changes on beat</li>
  <li>integrated <a href="http://www.radio-browser.info" target="_blank">radio-browser.info</a> API for web radio
    stations <br>
  </li>
  <li>OBJ import</li>
</ul>
