/* You can add global styles to this file, and also import other style files */
html, body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: #333;
  color: #fff;
  font-size: 13px;
  line-height: 1rem;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;

}

#audioCanvas {
  pointer-events: none;
}

.animation-display:after {

}


.control-nav {
  position: absolute;
  top: .5rem;
  left: .5rem;
  z-index: 999;
}

.animation-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}


a {
  color: #fff;
}

app-start-animation .animation-display {
  background: #000;
}

app-root > app-copyright .copyright {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999999999;
  text-align: center;
  opacity: 0.5;
  padding: .5rem;
}

.copyright span {
  margin-right: .5rem;
}

.web-radio-container {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 100vh;
  top: 0;
  right: 0;
  max-width: 600px;
  z-index: 999;
  padding: .5rem;
}

.web-radio-container > .inside {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100vh;
  overflow: hidden;
}


.web-radio-container > button {
  float: right;
}


.open-web-radio {
  position: absolute;
  right: 0.5rem;
  top: .5rem;
  z-index: 999;
}

.close-web-radio {
  position: absolute;
  right: 0.5rem;
  top: .5rem;
  z-index: 999;
}

label {
  position: relative;
  line-height: 1rem;
  padding: .25rem 0;
  display: block;
}

input {
  margin: 0;
  padding: .5rem 1rem;
  border: none;
}

label input {
  margin-right: .5rem;
}

button, input[type='submit'] {
  background: #000;
  border: none;
  color: #ccc;
  padding: .5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: all .25s ease;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5);
}

button:hover, input[type='submit']:hover {
  background: #333;
  color: #fff;
  box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 1);
}

button.active {
  background: #222;
  color: #ccc;
}


.animation-controls, .animation-info {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 1.25rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.radio-preview {
  background: rgba(0, 0, 0, 0.5);
  padding: .5rem;
}

.animation-info app-app-description ul {
  list-style: disc;
}

.animation-controls > button {
  margin-bottom: .25rem;

}

label input[type='checkbox'] {
  pointer-events: none;
}

.animation-audio-controls {
  border-top: 1px solid #fff;
  margin-top: 1.25rem;
  padding-top: 1.25rem;
}


h3 {
  margin: 1.25rem 0 0 0;
  padding: 0;
}

button.close-animation-controls, button.close-animation-info {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

button.show-animation-controls {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  z-index: 999;
}


.info-source {
  border-top: 1px solid #fff;
  padding: .5rem 0;
}

.thumb-box {
  display: flex;
}

.thumbnail {
  flex: 25%;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}

.thumb-box p {
  padding-left: 1.25rem;
}

.info-source img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 150px;

}

.start-view {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #3b005d;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;

}

.start-view-content {
  position: relative;
  width: 100%;
  max-width: 800px;
  padding: 3rem 1.25rem;
  margin: 0 auto;
}

.start-view h1 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;
  color: #00eaff;
  font-family: 'Anton', cursive;
  text-shadow: 0 0 5px #000;
}

#startButton {
  display: inline-block;
  font-size: 3rem;
  margin: 2rem auto;
  font-family: 'Anton', cursive;
  border-radius: 1rem;
  animation: shakes 0.25s linear infinite;
}

.start-view label {
  position: relative;
  display: flex;
  width: 100%;
}

.start-view label > * {
  flex: 1;
}


@keyframes shakes {
  0% {
    transform: translate(2px, 1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(0deg);
  }
}


@media screen {
  html, body {
    height: 100vh;
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 10px;
    -webkit-overflow-scrolling: touch;
  }


  .audio-player .radio-info {
    line-height: .6rem;
    font-size: .5rem;

  }

  .audio-player .progress-info {
    display: none;
  }

  .audio-player-filter span {
    display: none;
  }

  .web-radio .audio-player-filter .extended-filter {
    display: none !important;
  }

  #startButton, .start-view h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .start-view ul {
    margin: 0 .5rem;
  }

  .start-view label {
    flex-direction: column;
  }

  .start-view-content {
    display: block;
    top: 0;
  }

  .radio-preview-small {
    flex-direction: column;
  }

  app-root > app-copyright {
    display: none;
  }

  .control-nav {
    bottom: .5rem;
    right: .5rem;
    top: inherit;
    left: inherit;
  }
}


.vignette {
  background: rgba(255, 255, 255, .1);
  box-shadow: 0 0 10vw rgba(0, 0, 0, 0.5) inset;
  mix-blend-mode: overlay;
  mix-blend-mode: soft-light;
}

.flicker {
  animation: flickerAnimation .5s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  10% {
    opacity: .5;
  }
  15% {
    opacity: 1;
  }
  33% {
    opacity: .3;
  }
  50% {
    opacity: .8;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: .2;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
