/* You can add global styles to this file, and also import other style files */
body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #333;
  color: #fff;
  font-size: 13px;
  line-height: 1rem;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;

}

a {
  color: #fff;
}

app-start-animation .animation-display {
  background: #000;
}

.copyright {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999999999;
  text-align: center;
  opacity: 0.5;
}

.copyright span {
  margin-right: 1rem;
}

.web-radio-container {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 100vh;
  top: 0;
  right: 0;
  max-width: 600px;
  z-index: 999;
  padding: .5rem;
}

.web-radio-container > .inside {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;
  height: auto;
  max-height: 100vh;
  overflow: hidden;
}



.web-radio-container > button {
  float: right;
}



.open-web-radio {
  position: absolute;
  right: 0.5rem;
  top: .5rem;
  z-index: 999;
}

.close-web-radio {
  position: absolute;
  right: 0.5rem;
  top: .5rem;
  z-index: 999;
}

label {
  position: relative;
  line-height: 1rem;
  padding: .25rem 0;
  display: block;
}

input {
  margin: 0;
}

label input {
  margin-right: .5rem;
}

button {
  background: #000;
  border: none;
  color: #ccc;
  padding: .5rem 1rem;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #333;
  color: #fff;
}

button.active {
  background: #222;
  color: #ccc;
}

@media (max-width: 1024px) {
  body {
    font-size: 10px;
  }
}
