<button (click)="animation.toggleStats()" [ngClass]="{active: animation.settings.stats}">
  <span *ngIf="animation.settings.stats">Hide stats</span>
  <span *ngIf="!animation.settings.stats">Show stats</span>
</button>
<br>
<button *ngIf="animation.vrService" (click)="animation.vrMode()" [ngClass]="{active: animation.vrService.vrMode}">
  <span *ngIf="!animation.vrService.vrMode">Enter VR mode (experimental)</span>
  <span *ngIf="animation.vrService.vrMode">Exit VR mode</span>
</button>
<div>
  <button *ngIf="!animation.isControlCamera()" (click)="animation.selectControlCamera()">Camera controls on</button>
  <button *ngIf="animation.isControlCamera()" class="active" (click)="animation.unselectControlCamera()">Camera
    controls off
  </button>
</div>
<div *ngIf="animation.postProcessing && animation.postProcessing.renderPasses" class="animation-audio-controls">
  <b>Post processing effects</b><br>
  <label *ngFor="let renderPass of animation.postProcessing.renderPasses"
         (click)="animation.toggleRenderPassActive(renderPass.name)">
    <input type="checkbox" [checked]="animation.renderPassActive(renderPass.name)"/>
    <span>{{renderPass.name}}</span>
    <br>
  </label>
</div>
<div *ngIf="animation.audio('demo')" class="animation-audio-controls">
  <b>Audio track</b><br>
  <button (click)="animation.audio('demo').play()" *ngIf="animation.audio('demo').paused">Play</button>
  <button (click)="animation.audio('demo').pause()" *ngIf="!animation.audio('demo').paused">Pause</button>
  <button (click)="animation.audio('demo').muted = !animation.audio('demo').muted">
    <span *ngIf="animation.audio('demo').muted">Unmute</span>
    <span *ngIf="!animation.audio('demo').muted">Mute</span>
  </button>
</div>
